@rendermode InteractiveServer

<div class="container">
    <div class="button-container">
        <button class="select-tags" @onclick="ToggleTagList">Select tags</button>
        <div class="list @(TagListVisible ? "visible" : "")">

            @foreach (var tag in AllTags) {
                <div class="list-item @(IsSelected(tag) ? "selected" : "")" @onclick="() => ToggleTag(tag)">
                    <span>@tag.Text</span>
                </div>
            }
        </div>
        <button class="search" @onclick="Search">Search</button>
    </div>
    <div class="selected-tags">
        @foreach (var tag in SelectedTags) {
            <div class="tag" @onclick="() => RemoveTag(tag)">
                <span class="cross">X</span>
                <span>@tag.Text</span>
            </div>
        }
    </div>
</div>
