.container {
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.title {
    font-size: 2rem;
}

.video-container {
    width: 100%;
}

.video {
    width: 100%;
    display: none;
    aspect-ratio: 16 / 9;
}

.thumbnail-container {
    width: 100%;
    display: none;
    aspect-ratio: 16 / 9;
    position: relative;
    border: 0.1rem solid black;
    cursor: pointer;
}

.play-symbol {
    height: 30%;
    position: absolute;
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.playlist-link {
    text-decoration: none;
    color: black;
}

.thumbnail {
    width: 100%;
    height: 100%;
}

.active {
    display: block;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}

.new {
    display: inline-flex;
    align-items: center;
    color: yellow;
    text-shadow: 0 0 5px black;
    font-size: 1.5rem;
    font-weight: bold;
}

.spacer {
    flex: 1;
}

.tags {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
}

.tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: lightgrey;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
}

.playlist {
    display: flex;
    flex-flow: row nowrap;
}

.playlist-prev,
.playlist-next {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
}

.next-arrow,
.prev-arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.playlist img {
    width: 4rem;
    height: 4rem;
    background: green;
}
